.wrap {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  height: 100%;
  margin: 0 -15px;

  overflow: auto;
}

.list-group {
  border-radius: 0;

  .list-group-item {
    border: 0;
    background-color: transparent;
    line-height: 1.4;
    padding: 0;
    word-break: break-all;
  }
}
