.wrap {
  height: 100%;
  margin: 0 -15px;
  overflow: auto;

  @media (min-width: 576px) {
    border-right: 1px solid #eee;
  }

  > div {
    height: 100%;
  }
}

.list-group {
  border-radius: 0;

  .list-group-item {
    border: 0;
    background-color: transparent;
    line-height: 1.4;
    padding: 0;
    word-break: break-all;
  }
}

.new-note {
  height: 100%;
  text-align: center;
  padding: 0 15px;

  button {
    background-color: #3f51b5;
    border-color: #3f51b5;
    font-size: 14px;
    transform: translateY(-51%);
    top: 50%;
    position: relative;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #0069d9;
      border-color: #0062cc;
    }
  }
}
