<h1 mat-dialog-title>Email this note</h1>

<div mat-dialog-content>
  <!-- <button mat-dialog-close>Close</button> -->
  <p>
    Send your note titled &ldquo;<em>{{ data.title }}</em
    >&rdquo; to:
  </p>
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        required
        formControlName="email"
      />
    </div>

    <button type="submit" class="btn btn-primary">Send note</button>
  </form>
</div>
