<mat-toolbar color="primary" class="mat-elevation-z2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <a routerLink="/" class="home-link">
          <span class="material-icons home-icon float-left">
            subject
          </span>
          <h1><span>my</span>notes</h1>
        </a>
      </div>
      <div class="col-4 text-right">
        <a
          (click)="emailNote()"
          class="material-icons email"
          *ngIf="activatedNote"
          title="Email this note"
        >
          email
        </a>
        <a
          (click)="deleteNote()"
          class="material-icons delete"
          *ngIf="activatedNote"
          title="Delete this note"
        >
          delete_outline
        </a>
        <a
          [routerLink]="['/note', newNoteId, { newnote: true }]"
          class="material-icons create"
          *ngIf="newNoteId"
          title="Create a new note"
        >
          create
        </a>
      </div>
    </div>
  </div>
</mat-toolbar>
