html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
p {
  color: #212529;
}

textarea {
  resize: none;
}

label {
  color: #212529;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;

  &.disable {
    color: #ccc;
  }
}

input,
textarea {
  &.form-control {
    border: 0;
    color: #212529;
    border-radius: 0;
    border-bottom: 1px solid #eee;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;

    &:disabled {
      background-color: transparent;
      color: #ccc;
    }
  }
}

button.btn-primary:disabled {
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;

  &:hover,
  &:focus {
    background-color: #ccc;
    border-color: #ccc;
  }
}

.cdk-overlay-container {
  .cdk-overlay-pane {
    max-width: 90vw !important;
  }

  .mat-dialog-container {
    padding-bottom: 16px;
    position: relative;
    max-width: 450px;
    width: 450px;
    border-radius: 8px;
  }
}

.error-red {
  color: #cc0000;
}

@import "./scss/loader";
@import "./scss/note";
