.note-wrap {
  height: 100%;
  padding: 20px 0 0;

  @media (min-width: 600px) {
    padding: 20px 5px 0;
  }

  > form {
    height: 100%;

    .note-body {
      height: calc(100% - 98px);
      padding-top: 10px;

      textarea {
        height: calc(100% - 15px);
      }
    }

    input,
    textarea {
      font-size: 14px;
    }
  }
}
