.note-wrap {
  height: 100%;
  padding: 20px 0 0;

  @media (min-width: 576px) {
    padding: 20px 5px 0;
  }

  > form {
    height: 100%;

    &.focused {
      height: 400px;
    }

    .note-body {
      height: calc(100% - 98px);
      padding-top: 5px;

      textarea {
        height: calc(100% - 10px);
      }

      @media (min-width: 576px) {
        padding-top: 10px;

        textarea {
          height: calc(100% - 15px);
        }
      }
    }
  }
}
